//
// Pastel Theme
//

$color-cream: #F5EDDA;
$color-pink: #F5D8E3;
$color-purple: #BAB2D4;
$color-blue: #CCDDF3;
$color-green: #D8F0DA;

//
// Neutral Colors
//

$color-background: #FAFAFA;
$color-surface: #FFFFFF;
$color-border: #ECECEC;

//
// Text Colors
//

$color-text-primary: #3B3B3B;
$color-text-secondary: #6B7280;

//
// Collection
//

$pastel-colors: (
  $color-cream,
  $color-green,
  $color-pink,
  $color-purple,
  $color-blue,
);
