@use '../colors' as colors;
@use 'sass:list';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1rem 1rem;
  box-sizing: border-box;
}

.bar {
  box-sizing: border-box;
  padding: 10px;

  margin-bottom: 10px;
  align-self: flex-end;

  border-radius: 8px;

  color: colors.$color-text-primary;
}

/* automatic rotation */
@for $i from 1 through list.length(colors.$pastel-colors) {
  .bar:nth-child(#{list.length(colors.$pastel-colors)}n + #{$i}) {
    background-color: list.nth(colors.$pastel-colors, $i);
  }
}

.trace-entry {
  display: flex;
  flex-direction: column;

  border-radius: 12px;
  box-sizing: border-box;
  padding: 12px;

  background-color: colors.$color-surface;
  border: 1px solid colors.$color-border;

  margin-bottom: 18px;
}
